<div class="aboutus">
  <form action="/auth/aboutus" method="POST">
    
    <div class="headerTitle"> 
      <h1>ABOUT US</h1>
    </div>
    <div class="headerTitle">
      <div class="testBorder">
      <p><small>E-tech lounge is the first E-library for technical and computer science books in the Middle East. It allows users to find many books in one location. We aim to make books easier to find and provide a simple and enjoyable experience for the user. Someday, we will be the biggest E-library.</small>  </p>
    </div>
    </div>
   
    <div class="headerTitle"></div>
    <div class="headerTitle">

      <h1 class="ourTeam">Our Team</h1>
    </div>
        
        <div class="contentBorderAboutUS">
          <div class="row">
            <div class="col-sm-4">
              <div class="testBorder">
                <div class="card-body">
                  <h5 class="card-title"><b>GHADEER ALWAFI</b></h5>
                  <p class="card-text"><i>An eager and curious software engineer with passion for continuous development to use my wide range of technical skills to match the 2030 vision. I worked as Technical Support, Web Developer and Operator.</i></p>
                  <button onclick="location.href='https://www.linkedin.com/in/ghadeer-alwafi/'" class="btn btn-primary" type="button">Linkedin</button>
                </div>
              </div>
            </div>

          <div class="col-sm-4">
            <div class="testBorder">
              <div class="card-body">
                <h5 class="card-title"><b>MOHAMMAD ALJAGTHMI</b></h5>
                <p class="card-text"><i>A curious full stack engineer who loves to generate effective solutions for complex problems and puzzles in both software and general life. I offer a high level of commitment, and passion in the innovation of successful. </i></p>
                <button onclick="location.href='https://www.linkedin.com/in/mohammad-aljagthmi-905323149/'" class="btn btn-primary" type="button">Linkedin</button>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="testBorder">
              <div class="card-body">
                <h5 class="card-title"><b>FAISAL BUZAID</b></h5>
                <p class="card-text"><i>Software maintanance, creative and competent IT Developer and Analyst, with experience working in IT Analyst and Software developer. Ability to design, program, modify and upgrade applications to meet user's requirements.</i></p>
                <button onclick="location.href='https://www.linkedin.com/in/faisal-buzaid-28a4a112b/'" class="btn btn-primary" type="button">Linkedin</button>
              </div>
            </div>
          </div>
        </div>
      

    </div>

  
    <div class="headerTitle"></div>


      

  </form>
</div>