<div class="homepage">
<form>
    <div>
        
        <div class="nameTitle">
            <h1 class="h1name">WELCOME TO OUR LIBRARY</h1>
        </div>
        
        <div class="sentence">
            <P class="paraSent">A PLATFORM WHERE CONNECTING LEARNERS <br> TO FIND OUT THE LATEST SOURCES IN PROGRAMMAING &hearts;
            </P>
        </div>

    </div>
 
    </form>
</div>