<div class="card signup">
    <img src="/imgs/bg9.jpg" class="card-img-top signup-img" alt="computer">
    <div class="card-body">
        <h5 class="card-title textColor">ADD BOOK</h5>
        <p class="card-text">BIG BOSS your about to add book and help many people &hearts; </p>
        <br>
        <!-- Add Book form -->
        <form action="/addbook" method="POST" enctype="multipart/form-data">
            <div class="row mb-3">
                <div class="col-12">
                    <label>Book Title<span class="required">*</span></label>
                    <input name="title" class="form-input" placeholder="Title" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label>Book Author<span class="required">*</span></label>
                    <input name="author" class="form-input" placeholder="Author Name" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label>Book Description <span class="required">*</span></label>
                    <input name="description" class="form-input" placeholder="Write Book Description" rows="4" cols="50" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label>Book Publisher <span class="required">*</span></label>
                    <input name="publisher" class="form-input" placeholder="Publisher Information" rows="4" cols="50"/>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label>Book Link <span class="required">*</span></label>
                    <input name="link" type="text" class="form-input" placeholder="URL Link" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-6">
                    <label>ISBN <span class="required">*</span></label>
                    <input name="ISBN" type="text" class="form-input" placeholder="Book ISBN" />
                </div>
                <div class="col-6">
                    <label>Number of Pages <span class="required">*</span></label>
                    <input name="numberOfPage" type="text" class="form-input" placeholder="Number of Pages" />
                </div>
            </div>
            <br>
            <div class="row mb-3">
                <div class="col-12">
                    <label>Book Cover <span class="required">*</span></label>
                    <input type="file" id="image" name="filetoupload">
                </div>
            </div>
            <br>
            <div class="row mb-3">
                <div class="col-12">
                    <label> Category </label>
                    <select name="category">
                        <% categories.forEach(function(category) { %>
                        <option name="category" value="<%= category._id %>" > <%= category.name %> </option>
                        <% }) %>
                    </select>
                </div>
            </div>
            <br>
            <button class="btn btn-primary">Add Book</button>
        </form>
    </div>

</div>