<div class="container">
    <h5 class="textColor">BOOK CATEGORIES</h5>
    <p>BIG BOSS you can add, update and delete category &hearts; </p>
    <div class="row">
        <div class="col">
                <img src="/imgs/bg8.jpg" class="card-img-top" alt="computer">
                        <br><br>
                        <form method="POST" action="/addcategory">
                            <label>Category Name</label>
                            <br>
                            <input type="text" name="name" class="form-input">
                            <br>
                            <button class="btn" type="submit">Add Category</button>
                        </form>
        </div>
        <div class="col">
            <div class="textColor"> All Categories </div>
            <br>
            <% categories.forEach(function(category) { %>
            <form class="inline" method="POST" action="/category/<%= category._id %>?_method=PUT">
                <input type="text" name="name" value="<%= category.name %>" />
                <button class="btn btn-info" type="submit">Update</button>
            </form>
            <form class="inline" method="POST" action="/category/<%= category._id %>/delete?_method=DELETE">
                <button class="btn btn-info" type="submit">Delete</button>
            </form>
            <br><br>
            <% }) %>   
        </div>
    </div>
</div>

